.login-form {
  padding: 20px;
  width: 50%;
  margin: auto;
  .mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
    .title-center {
      flex: 1 1 auto;
      text-align: center;
    }
  }
  .mat-form-field {
    width: 100%;
  }
  .actions {
    .mat-raised-button {
      width: 100%;
    }
  }
}
