.spacer {
    flex: 1 1 auto;
}

@media (max-width: 800px) {
    .responsive_table {
      overflow-x: auto !important;
    }
  
    .mat-table {
      min-width: 800px;
    }
  }
  
  .mat-row {
    height: auto;
  }
  
  td, th {
      text-align: center !important;
      vertical-align: middle !important;
  }
  
  .mat-sort-header-container {
      justify-content: center !important;
  }